*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b04133;
    background-color: #ffffc7;
}


.reset-game{
    height: 5vmin;
    width: 20vmin;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: none;
}


.new-game{
    height: 5vmin;
    width: 20vmin;
    background-color: black;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: khaki;
    font-size: 3rem;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}